
:root {
    --text: #020403;
    --background: #edf7f3;
    --primary-button: #c5a6d8;
    --primary-button-light: #e3dce8;
    --secondary-button: #dcefe8;
    --accent: #b9975f;
    
    --delete-button: #b44f1d;
    --lighter-accent: #ffefd5;
}



/* GLOBAL */
body {
    background-color: var(--background);
    color: var(--text);
    position: relative;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h3 {
    margin-left: 70px;
    margin-bottom: 10px;
}

main {
    min-height: auto;
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 60px;
}


/* HEADER / FOOTER */
h1 {
    text-align: center;
    background-color: var(--accent);
    padding: 25px;
    position: relative;
    margin: 0px;
    font-size: 3em;
    color: var(--secondary-button);
}


footer {
    background-color: var(--accent);
    color: var(--background);
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-top: 60px;
}




footer p {
    height: 80px;
    line-height: 80px;
    text-align: right;
    padding-right: 100px;
    margin-top: auto;
    margin-bottom: auto;
}





/* FORM ELEMENTS */
div h3 {
    display: inline-block;
}

#monthly-title {
    margin-left: 0px;
    float: right;
    width: auto;
    margin-right: 60px;

}

form {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    
}

input {
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--background);
    margin-bottom: 5px;
    margin-right: 3px;
}

#submit-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background-color: var(--primary-button-light);
    border-radius: 16px;
    border-color: var(--primary-button);
    transition-duration: .4s;
}

#submit-button:hover {
    background-color: var(--primary-button);
    color: var(--text);
    border-color: var(--text);
}



/* TABLE ELEMENTS */

/* Table Global */
table {
    width: 90%;
    margin: auto;
}

/* table rounded corner */
    table th:first-child {
        border-radius: 15px 0 0 0;
    }
    table th:last-child {
        border-radius: 0 15px 0 0;
    }
    table tr:last-child td:first-child {
        border-radius: 0 0 0 15px;
    }
    table tr:last-child td:last-child {
        border-radius:  0 0 15px 0;
    }


table, th, td {
    border-spacing: 0;
    height: 1em;

}

td {
    border: 1px solid black;
    margin: auto;
}

th {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid black;
    text-align: center;
    min-width: 126px;
}

thead {
    background: var(--accent);
}


tbody tr:nth-child(odd) {
    background: var(--secondary-button);
    margin-bottom: 100px;
}
tbody tr:nth-child(even) {
    background: var(--lighter-accent);
}

/* table justification */
.left-justified {
    padding-left: 10px;
}

.right-justified {
    text-align: right;
    padding-right: 10px;
}

.center-justified {
    text-align: center;
}



td button {
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px;
    display: inline-block;
    background-color: var(--secondary-button);
    transition-duration: .35s;
    color: var(--delete-button);
    border-color: var(--delete-button);
}

td button:hover {
    background-color: var(--delete-button);
    color: var(--background);
}
